.text-ss{font-size:.45rem!important}
.text-xs{font-size:.75rem!important}
.text-sm{font-size:.875rem!important}
.text-md{font-size:1rem!important}
.text-lg{font-size:1.125rem!important}
.text-xl{font-size:1.375rem!important}
.text-64{font-size:4rem!important}
.badge.text-ss{font-weight:normal}
@media (max-width:767.98px){.text-lg{font-size:1rem!important}.text-xl{font-size:1.25rem!important}.alert-body .text-md{font-size:.875rem!important}}
.text-height-xs{line-height:1!important}
.text-height-sm{line-height:1.2!important}
.text-height-md{line-height:1.4!important}
.text-height-lg{line-height:1.6!important}
.text-height-xl{line-height:2!important}
.overflow-hidden{overflow:hidden}
.iconfont{display:inline-block;font-size:inherit;font-variant:normal;text-rendering:auto;line-height:0}
.icon-lg{font-size:1.33333em;line-height:.75em;vertical-align:-.0667em}
.icon-2x{font-size:2em}
.icon-3x{font-size:3em}
.icon-4x{font-size:4em}
.icon-5x{font-size:5em}
.icon-8x{font-size:8em}
.icon-fw{text-align:center;width:1.25em}
.icon-spin{animation:icon-spin 2s infinite linear}
@keyframes icon-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}